<html data-namespace-typo3-fluid="true" xmlns:mpc="http://typo3.org/ns/Mpc/MpCore/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ff="http://www.w3.org/1999/html">
<picture class="picture-icon" data-aspectratio-lg="1:1" data-aspectratio-md="1:1" data-aspectratio-sm="1:1" data-aspectratio-xl="1:1" data-aspectratio-xs="1:1">
    <f:image class="img-icon" cropVariant="default" height="120" fileExtension="webp" image="{file}" loading="lazy" maxHeight="120" maxWidth="120" width="120"/>
</picture>
</html>
