<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:variable name="closeLabel">{f:translate(key: 'LLL:EXT:mp_core/Resources/Private/Language/locallang.xlf:tt_content.gallery_close')}</f:variable>

<dialog class="dialog dialog-fullscreen" data-bs-backdrop="static" id="Modal-{file.uid}">
    <f:render partial="Dialog/Header" arguments="{title: file.alternative, labelId: 'modalLabel-{file.uid}', closeLabel: closeLabel, headingLevel: 3}"/>
    <div class="dialog-body">
        <div class="container">
            <div class="row g-0">
                <figure class="image figure">
                    <picture class="d-flex justify-content-center">
                        <f:image class="figure-img img-fluid rounded" crop="false" decoding="async" fileExtension="webp" image="{file}" loading="lazy" maxWidth="1920"/>
                    </picture>
                    <f:if condition="{file.description} || {file.properties.caption} || {file.properties.copyright}">
                        <figcaption class="image-caption">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <f:if condition="{file.description}">
                                            <span class="description">{file.description} </span>
                                        </f:if>
                                        <f:if condition="{file.properties.caption}">
                                            <span class="caption fs-md">{file.properties.caption} </span>
                                        </f:if>
                                        <f:if condition="{file.properties.copyright}">
                                            <span class="copyright">© {file.properties.copyright}</span>
                                        </f:if>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </f:if>
                </figure>
            </div>
        </div>
    </div>
</dialog>

</html>
