<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<dialog
    aria-labelledby="{labelId}"
    class="dialog dialog-{size} dialog-scrollable"
    data-bs-backdrop="static"
    id="{modalId}"
>
    <f:if condition="{title}">
        <f:render partial="Dialog/Header" arguments="{title: title, labelId: labelId, closeLabel: closeLabel, headingLevel: 2}"/>
    </f:if>
    <div class="dialog-body" data-modal-content-root>
        {bodyContent -> f:format.raw()}
    </div>
</dialog>

</html>
