<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:if condition="{bodytext}">
    <f:sanitize.html>{bodytext}</f:sanitize.html>
</f:if>
<f:if condition="{record.image}">
    <ul aria-hidden="true" class="row list-unstyled">
        <f:for as="file" each="{record.image}">
            <li class="col-4 col-sm-3 col-md-2 col-lg-1">
                <f:image class="figure-img img-fluid" cropVariant="default" height="64c" image="{file}" fileExtension="webp" maxWidth="64" treatIdAsReference="1" width="64c"/>
            </li>
        </f:for>
    </ul>
</f:if>
<f:if condition="{record.image}">
    <f:sanitize.html>
        <p>{f:translate(key: 'LLL:EXT:mp_core/Resources/Private/Language/locallang_db.xlf:tt_content.CType.div._images_')}: {image}</p>
        <p>Layout: {gallery_layout}</p>
    </f:sanitize.html>
</f:if>
</html>
