<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:variable name="socialPlatforms" value="{
    facebook:   {label: 'Facebook',   lang: 'en'},
    x:          {label: 'X',          lang: ''},
    instagram:  {label: 'Instagram',  lang: 'en'},
    threads:    {label: 'Threads',    lang: 'en'},
    mastodon:   {label: 'Mastodon',   lang: 'en'},
    bluesky:    {label: 'Bluesky',    lang: 'en'},
    tiktok:     {label: 'TikTok',     lang: ''},
    tumblr:     {label: 'Tumblr',     lang: 'en'},
    reddit:     {label: 'Reddit',     lang: 'en'},
    linkedin:   {label: 'Linkedin',   lang: 'en'},
    xing:       {label: 'Xing',       lang: ''},
    spotify:    {label: 'Spotify',    lang: 'en'},
    soundcloud: {label: 'Soundcloud', lang: 'en'},
    bandcamp:   {label: 'Bandcamp',   lang: 'en'},
    youtube:    {label: 'YouTube',    lang: 'en'},
    vimeo:      {label: 'Vimeo',      lang: ''},
    pinterest:  {label: 'Pinterest',  lang: 'en'},
    whatsapp:   {label: 'Whatsapp',   lang: 'en'},
    signal:     {label: 'Signal',     lang: 'en'},
    telegram:   {label: 'Telegram',   lang: 'en'},
    discord:    {label: 'Discord',    lang: 'en'},
    github:     {label: 'GitHub',     lang: 'en'},
    gitlab:     {label: 'GitLab',     lang: 'en'},
    opencode:   {label: 'OpenCode',   lang: 'en'},
    packagist:  {label: 'Packagist',  lang: 'en'},
    npmjs:      {label: 'npm',        lang: ''}
}"/>

<f:variable name="opensInNewWindow">{f:translate(key: 'opens', extensionName: 'mp_core')} {f:translate(key: 'innewwindow', extensionName: 'mp_core')}</f:variable>

<section class="row row-border pt-3 pb-1" aria-label="{f:translate(key: 'footer.socialmediafooter', extensionName: 'mp_core')}">
    <div class="col-12">
        <nav aria-label="{f:translate(key: 'footer.socialmediaheader', extensionName: 'mp_core')}" class="footer-socialmedia">
            <ul class="row g-0 list-unstyled share">
                <f:for each="{socialPlatforms}" as="platform" key="platformKey">
                    <f:variable name="platformUrl" value="{site.configuration.{platformKey}}"/>
                    <f:if condition="{platformUrl}">
                        <li class="col {platformKey}">
                            <f:link.typolink parameter="{platformUrl}" title="{platform.label} {opensInNewWindow}" textWrap="<span class='icon-share icon-{platformKey}'>|</span>"><f:if condition="{platform.lang}"><f:then><span class="visually-hidden" lang="{platform.lang}">{platform.label}</span></f:then><f:else><span class="visually-hidden">{platform.label}</span></f:else></f:if></f:link.typolink>
                        </li>
                    </f:if>
                </f:for>
            </ul>
        </nav>
    </div>
</section>
</html>
