<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:mpc="http://typo3.org/ns/Mpc/MpCore/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <f:variable name="logoBig"><f:spaceless><f:for as="lang" each="{site.configuration.languages}"><f:if condition="{lang.languageId} == {data.sys_language_uid}"><f:if condition="{lang.logoBig}"><f:then><f:render partial="Header.LogoImage" arguments="{logoFile: lang.logoBig, preferSvg: lang.logoSvg, imageClass: 'bg-svg'}"/></f:then><f:else><f:if condition="{site.configuration.logoBig}"><f:then><f:render partial="Header.LogoImage" arguments="{logoFile: site.configuration.logoBig, preferSvg: site.configuration.logoSvg, imageClass: 'bg-svg'}"/></f:then><f:else><f:render partial="Header.LogoImage" arguments="{logoFile: '', preferSvg: false, imageClass: 'bg-svg'}"/></f:else></f:if></f:else></f:if></f:if></f:for></f:spaceless></f:variable>

    <div class="header-bg-svg">
        <f:if condition="{filesbg.0}">
            <f:then>
                <mpc:svgInline src="fileadmin/{filesbg.0.properties.identifier}" width="16" height="16" class="bg-svg" viewBox="0 0 16 16" additionalAttributes="{aria-hidden:'true'}"/>
            </f:then>
            <f:else>
                {logoBig -> f:format.raw()}
            </f:else>
        </f:if>
    </div>
</html>
