<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:mpc="http://typo3.org/ns/Mpc/MpCore/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:variable name="currentPageId">{f:cObject(typoscriptObjectPath: 'lib.pageid')}</f:variable>
<f:variable name="logoTitle">{f:translate(key: 'header.text.aria', extensionName: 'mp_core')} {f:if(condition: '{websiteTitle}', then: '{websiteTitle}', else: '{site.identifier}')}</f:variable>

<f:section name="logoBlock">
    <div class="logo mb-0 lh-1">
        <f:if condition="{currentPageId} == {site.rootPageId}">
            <f:then>
                <f:render section="logoVisuals" arguments="{_all}"/>
            </f:then>
            <f:else>
                <f:link.page pageUid="{site.rootPageId}" title="{logoTitle}">
                    <span class="visually-hidden">{f:translate(key: 'header.text.aria', extensionName: 'mp_core')} </span>
                    <f:render section="logoVisuals" arguments="{_all}"/>
                </f:link.page>
            </f:else>
        </f:if>
    </div>
</f:section>

<f:section name="logoVisuals">
    <span class="header-image d-none d-md-block"><f:render partial="Header.LogoImage" arguments="{logoFile: logoBig, preferSvg: logoSvgBig, imageClass: 'logo-svg', maxHeight: 300}"/></span>
    <span class="header-image-small d-block d-md-none"><f:render partial="Header.LogoImage" arguments="{logoFile: logoSmall, preferSvg: logoSvgSmall, imageClass: 'logo-svg', maxHeight: 96}"/></span>
    <f:if condition="{logoText}">
        <f:if condition="{logoTextHidden}">
            <f:then><span class="visually-hidden">{logoText}</span></f:then>
            <f:else><span class="header-text">{logoText}</span></f:else>
        </f:if>
    </f:if>
</f:section>

<f:if condition="{site.configuration.navType} == 1">
    <div class="col logo-wrapper text-end flex-grow-0 ms-auto ms-lg-0 w-auto">
        <f:render section="logoBlock" arguments="{_all}"/>
    </div>
</f:if>

<f:if condition="{site.configuration.navType} == 2">
    <div class="col-auto logo-wrapper text-start flex-shrink-0">
        <f:render section="logoBlock" arguments="{_all}"/>
    </div>
</f:if>

<f:if condition="{site.configuration.navType} == 3">
    <div class="col-auto logo-wrapper text-start flex-shrink-0">
        <f:render section="logoBlock" arguments="{_all}"/>
    </div>
</f:if>

</html>
