@font-face {
  font-display: swap;
  font-family: "SpecialElite";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/specialelite-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/opensans-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "OpenSans";
  font-style: italic;
  font-weight: 400;
  src: url("../Fonts/opensans-italic-webfont.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("../Fonts/opensans-bold-webfont.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "OpenSans";
  font-style: italic;
  font-weight: 700;
  src: url("../Fonts/opensans-bolditalic-webfont.woff2") format("woff2");
}
.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0;
}
.navbar .container {
  display: block;
  width: 100%;
}

.navbar-collapse {
  height: auto !important;
  left: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.1s ease-in-out;
  width: 100%;
  z-index: 1;
}
.navbar-collapse.collapsing {
  opacity: 0;
  overflow: visible;
  z-index: 1;
}
.navbar-collapse.show {
  opacity: 1;
}

.navbar-wrapper {
  position: relative;
}

.main-nav-wrapper {
  padding: 2rem 0;
  position: relative;
  z-index: 1;
}
@media (min-width: 992px) {
  .main-nav-wrapper {
    padding: 4rem 0 4.9375rem;
  }
}
.main-nav-wrapper > .container {
  padding: 0 1rem;
}

.main-menu {
  align-items: flex-start !important;
}
.main-menu-layer {
  position: static;
}
@media (max-width: 767.98px) {
  .main-menu-layer {
    flex: 0 1 0;
  }
}
.main-menu-layer > .dropdown-menu {
  border: 0 none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  right: 0;
  top: 101%;
}
.main-menu li {
  position: relative;
}
.main-menu .sub {
  color: var(--bs-body-color);
  display: block;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  white-space: normal;
}
.main-menu .sub:is(:hover, :focus, :active) {
  background-color: transparent;
  color: var(--bs-body-color);
}
.main-menu .act {
  color: var(--bs-body-color);
  text-decoration: underline;
}
.main-menu .current {
  font-weight: 500;
  text-decoration: underline;
}

.nav-more {
  left: -0.75rem;
  position: relative;
}

@keyframes nav-slide-in {
  from {
    transform: translateX(-0.3125rem);
  }
  to {
    transform: translateX(0);
  }
}
.main-menu .collapse:not(.show):not(.collapsing) {
  opacity: 0;
}
.main-menu .collapse.collapsing {
  opacity: 0.7;
  transition: height 0.2s ease-out, opacity 0.15s ease-out;
}
.main-menu .collapse.show {
  opacity: 1;
  transition: opacity 0.15s ease-out;
}
.main-menu .collapse.show:nth-child(1) {
  animation-delay: 0.015s;
}
.main-menu .collapse.show:nth-child(2) {
  animation-delay: 0.03s;
}
.main-menu .collapse.show:nth-child(3) {
  animation-delay: 0.045s;
}
.main-menu .collapse.show:nth-child(4) {
  animation-delay: 0.06s;
}
.main-menu .collapse.show:nth-child(5) {
  animation-delay: 0.075s;
}
.main-menu .collapse.show:nth-child(6) {
  animation-delay: 0.09s;
}
.main-menu .collapse.show:nth-child(7) {
  animation-delay: 0.105s;
}
.main-menu .collapse.show:nth-child(8) {
  animation-delay: 0.12s;
}
.main-menu .collapse.show:nth-child(9) {
  animation-delay: 0.135s;
}
.main-menu .collapse.show:nth-child(10) {
  animation-delay: 0.15s;
}
.main-menu .collapse.show:nth-child(11) {
  animation-delay: 0.165s;
}
.main-menu .collapse.show:nth-child(12) {
  animation-delay: 0.18s;
}
.main-menu .collapse.show:nth-child(13) {
  animation-delay: 0.195s;
}
.main-menu .collapse.show:nth-child(14) {
  animation-delay: 0.21s;
}
.main-menu .collapse.show:nth-child(15) {
  animation-delay: 0.225s;
}

.main-menu li :is(a, button) {
  transition: background-color 0.15s ease;
}

.main-menu :is(a, button):focus {
  outline: none;
}

.main-menu :is(a, button):focus-visible {
  border-radius: 0.25rem;
  outline: 0.125rem solid var(--bs-primary);
  outline-offset: -0.125rem;
}

.main-meta {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding: 1rem 0;
}
.main-meta .meta-item {
  padding: 0 1rem;
}
@media (max-width: 767.98px) {
  .main-meta .meta-item {
    margin-bottom: 1rem;
  }
}
.main-meta-wrapper {
  background: #222;
}
html[data-bs-theme=light] .main-meta-wrapper {
  background: #ccc;
}

.meta-desktop {
  display: none;
}
@media (min-width: 992px) {
  .meta-desktop {
    display: block;
  }
}
.meta-mobile {
  display: block;
}
@media (min-width: 992px) {
  .meta-mobile {
    display: none;
  }
}

.metanav {
  flex-wrap: nowrap;
  margin-right: 1rem;
}
.metanav .nav-item {
  font-weight: 700;
  margin-right: 0.5rem;
}
@media (max-width: 575.98px) {
  .metanav .nav-link {
    padding: 0.5rem;
  }
  .metanav .nav-link > svg + span {
    width: 0.0625rem !important;
    height: 0.0625rem !important;
    padding: 0 !important;
    margin: -0.0625rem !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
  .metanav .nav-link > svg + span:not(caption) {
    position: absolute !important;
  }
  .metanav .nav-link > svg + span * {
    overflow: hidden !important;
  }
}
.metanav .nav-link:is(.de, .en, .fr) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  padding: 1.25rem 1.5rem;
}
.metanav .nav-link.de {
  background-image: url("../Icons/de.svg");
}
.metanav .nav-link.en {
  background-image: url("../Icons/gb.svg");
}
.metanav .nav-link.fr {
  background-image: url("../Icons/fr.svg");
}

.meta-mobile {
  padding: 1rem 1rem 0;
}

html[data-bs-theme=light] .breadcrumb {
  background-color: var(--bs-gray-100);
}
.breadcrumb-wrapper {
  background-color: var(--bs-gray-800);
}
html[data-bs-theme=light] .breadcrumb-wrapper {
  background-color: var(--bs-gray-100);
}
.breadcrumb-link {
  color: var(--bs-body-color);
  padding: 0.25rem;
}
.breadcrumb-link:is(:hover, :focus, :active) {
  outline-offset: 0;
}
.breadcrumb-item:first-child a {
  display: block;
  height: 1.5rem;
  margin-right: 0.625rem;
  padding: 0;
  width: 1.5rem;
}
.breadcrumb-item:first-child a::before {
  background-color: var(--bs-body-color);
  content: "";
  display: block;
  height: 1.5rem;
  mask: url("../Icons/icon-house-fill.svg") no-repeat center;
  mask-size: 1.125rem !important;
  width: 1.5rem;
}
@media (forced-colors: active) {
  .breadcrumb-item:first-child a::before {
    background: url("../Icons/icon-house-fill.svg") no-repeat center;
    background-size: 1.5rem;
    mask: none;
  }
}
.breadcrumb-item::before {
  background-color: var(--bs-body-color);
  display: inline-block;
  height: 1.5rem;
  mask: url("../Icons/icon-chevron-right.svg") no-repeat center;
  mask-size: 0.875rem !important;
  width: 1.5rem;
}
@media (forced-colors: active) {
  .breadcrumb-item::before {
    background: url("../Icons/icon-chevron-right.svg") no-repeat center;
    background-size: 0.875rem;
    mask: none;
  }
}

.navbar-wrapper {
  background-color: var(--bs-body-bg);
}
html[data-bs-theme=light] .navbar-wrapper {
  background-color: var(--bs-gray-100);
}
@media (max-width: 767.98px) {
  .navbar-wrapper ul ul {
    padding-bottom: 1rem;
  }
}

.main-nav-wrapper {
  padding: 4rem 0 4.9375rem;
}

.main-menu .dropdown-item {
  text-underline-position: under;
}
.main-menu .first-child {
  background-color: transparent;
  color: var(--bs-body-color);
  display: block;
  font-family: var(--bs-font-sans-serif);
  font-weight: 700;
  margin-bottom: 1.875rem;
  padding: 0;
  font-size: calc(1.2625rem + 0.15vw);
}
@media (min-width: 1200px) {
  .main-menu .first-child {
    font-size: 1.375rem;
  }
}
.main-menu .first-child:is(:hover, :focus, :active) {
  color: var(--bs-body-color);
  text-decoration: none;
}
.main-menu ul {
  margin-bottom: 1rem;
}
.main-menu ul ul li .sub {
  font-size: 1rem;
  padding-left: 0.5rem;
}
.main-menu ul ul ul li .sub {
  font-size: 0.9375rem;
  padding-left: 1.25rem;
}
.main-menu ul ul ul ul li .sub {
  padding-left: 1.5rem;
}
.main-menu ul ul ul ul ul li .sub {
  padding-left: 2rem;
}
.main-menu .sub {
  font-size: 1.0625rem;
  margin: 0.3125rem 2.5rem 0.3125rem 0;
  padding: 0.3125rem 0;
  width: calc(100% - 2.5rem);
}
.main-menu .active {
  font-weight: 700;
  text-shadow: var(--bs-gray-300) 0.0625rem 0.25rem 0.25rem;
  transition: text-shadow 0.15s ease-in-out;
}
.main-menu .active:is(:hover, :focus, :active) {
  text-shadow: none;
}

#subnav {
  margin-bottom: 2rem;
}
#subnav .nav-item {
  background-color: var(--bs-gray-900);
  border-radius: 0.25rem;
}
html[data-bs-theme=light] #subnav .nav-item {
  background-color: var(--bs-gray-200);
}
#subnav .nav-item .nav-link {
  text-underline-position: under;
}
#subnav .nav-item .nav-link.active {
  font-weight: 700;
  text-shadow: var(--bs-gray-300) 0.0625rem 0.25rem 0.25rem;
  transition: text-shadow 0.15s ease-in-out;
}
#subnav .nav-item .nav-link.active:is(:hover, :focus, :active) {
  text-shadow: none;
}
#subnav .nav-item .nav-link:is(:hover, :focus, :active) {
  border-radius: 0.25rem;
  outline-offset: -0.1875rem;
}
#subnav .nav-item .nav-item .nav-item {
  padding-left: 1rem;
}

.pagination .page-item {
  padding: 0 0.5rem;
}